In [11]:
import pandas as pd
import google.generativeai as genai

In [12]:
user_params = pd.read_csv('user_params.csv')

In [13]:
predictions = pd.read_csv('predictions.csv')

In [14]:
predictions

    salary total_experience_years education_length    prediction
0    17.52                   [25]              [2]  48756.453125

In [24]:
predicted_salary = predictions['prediction'][0]
predicted_salary

48756.453125

In [15]:
user_params

,position,recommendations_count,followers,salary,experience_description,education_length,total_experience_years,education,number_of_languages
0,Assurity Title,1,2000,17.52,"As leaders in the title services industry, we’...",2,25,Bachelor of Education - BEd in Education from ...,0

In [19]:
df_as_text = user_params.to_dict(orient='records')
df_as_text

[{'position': 'Assurity Title',
  'recommendations_count': 1,
  'followers': 2000,
  'salary': 17.52,
  'experience_description': 'As leaders in the title services industry, we’ve built the experience and relationships that set us apart from other title companies. Our client list is as vibrant and diverse as the cities we service in Florida. Whether you are a realtor, lender, or consumer, we help you with our full-spectrum title service and negotiation processes. Our agency offers a broad spectrum of title services that span Tampa, as well as the state of Florida. When you work with Assurity Title, you will experience the difference we make in easing your mind before closing on a new investment. Whether you need title searches or insurance and legal document preparation, we can help you with your next real estate transaction. We provide the following title services: Residential and commercial closings Escrow services FSBO Title searches Title insurance Legal document preparation Whether you are ready to start the process of title services and closing or only have a question, our experts are always available to help. At Assurity Title LLC, you never have to worry about unpleasant surprises when you are looking into a real estate transaction. We strive to provide a superior closing experience for all applicable parties. Our transparent and thorough title services ensure that no underlying issues exist with the property. If any complications do come up, we take action to resolve problems quickly and efficiently. Our title company’s ultimate goal is to protect both buyers and sellers with urgency, integrity, and care. If you’re ready to schedule an appointment, get a quote, or request more information! Contact us now at (813) 556-7501. Show less',
  'education_length': 2,
  'total_experience_years': 25,
  'education': 'Bachelor of Education - BEd in Education from University of South Florida',
  'number_of_languages': 0}]

In [28]:
genai.configure(api_key="AIzaSyABV8rVzIo_xjRt2wHaYggoRkPcJdOkTfo")
# Load the models

gemini_model = genai.GenerativeModel('gemini-pro')

text_prompt = (f"Your task is to summarize user features from LinkedIn profile with his input salary and predicted salary based on his features."
               f"Please explain to the user the gap between his input salary(from his features) and the predicted salary from our AI model."
               f"based on the following user features(the education_length is the number of diplomas/degrees): {df_as_text}. And based on the predicted salary: {predicted_salary} Explain the choice.")
response = gemini_model.generate_content(text_prompt)
text = response.text.replace('•', '*')

In [31]:
print(text)

**User Features:**

* Position: Assurity Title
* Recommendations: 1
* Followers: 2,000
* Salary: $17.52
* Experience Description: 25 years in the title services industry
* Education: Bachelor of Education (BEd) from the University of South Florida
* Education Length: 2 diplomas/degrees
* Number of Languages: 0

**Predicted Salary:**

* $48,756.45

**Gap Analysis:**

Your input salary of $17.52 is significantly lower than the predicted salary of $48,756.45. This gap can be attributed to several factors:

* **Years of Experience:** Your 25 years of experience in the title services industry is a valuable asset. The predicted salary reflects the higher earning potential associated with this level of experience.
* **Education:** While you have a Bachelor of Education degree, it is not directly related to the title services field. The predicted salary takes into account the importance of field-specific education or specialized certifications.
* **Certifications or Training:** It is not clear from your profile whether you have any certifications or specialized training in the title services industry. Such qualifications can significantly increase your earning potential.
* **Industry Demand:** The title services industry may be experiencing increased demand for skilled professionals, leading to higher salaries.
* **Location:** The geographical location of your work can also influence salary expectations. The predicted salary may reflect higher earning potential in the area where you reside.

**Recommendations:**

To increase your earning potential and narrow the gap between your input salary and the predicted salary, consider the following recommendations:

* Obtain additional certifications or specialized training in the title services industry.
* Explore opportunities for professional development and continuing education.
* Network with industry professionals and stay informed about industry trends.
* Consider relocating to an area where salaries for your skills are typically higher.